@using Microsoft.AspNetCore.Identity
@using IdentityMessageBoard.Models
@model IdentityMessageBoard.Models.Message
@inject UserManager<ApplicationUser> UserManager

<form method="post" action="/messages/mymessages/@Model.Id">
    <input type="hidden" name="UserId" value="@UserManager.GetUserId(User)" />
    <div>
        <label for="Content">Content</label>
        <input type="text" name="Content" value="@Model.Content"/>
    </div>
    <div>
        <label for="ExpiresIn">Exires in (num days)</label>
        <input type="number" name="ExpiresIn" value="@Model.ExpirationDate.Subtract(DateTime.Now).Days"/>
    </div>
    <button type="submit">Update</button>
</form>
